.benefits {
  background-color: #2D3138;
  color: #fff;
  text-transform: uppercase;
}

.benefits__wrap {
  display: flex;

  @include media-lg {
    flex-direction: column;
  }
}

.benefits__heading {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  padding: 60px 0;

  @include media-lg {
    font-size: 24px;
  }
}

.benefits__left {
  width: 45%;

  @include media-lg {
    width: 100%;
  }
}

.benefits__right {
  width: 45%;
  margin-left: 10%;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 50px 50px;

  @include media-lg {
    width: 100%;
    margin-left: 0;
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
}

.benefits__types {
  display: flex;
  flex-direction: column;
}

.benefits__types-heading {
  font-size: 16px;
  color: #F3C218;
}

.benefits__types-text {
  font-size: 16px;
  text-transform: capitalize;
}

.benefits__img {
  width: 100%;
  padding-bottom: 46px;
}

.benefits__types-img {
  margin: 0 auto;
  padding-bottom: 15px;
}
