.bye-cripto {
  background-image: url(../img/bye.png);
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  padding-top: 50px;
  background-color: #1f2126;

  @include media-exsm {
    background-image: none;
    background-color: #1B1F24;
    text-align: center;
  }
}

.bye-cripto__heading {
  text-transform: uppercase;
  padding-bottom: 30px;
}

.bye-cripto__btn {
  @include active;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-bottom: 288px;
  margin-top: 40px;
  width: 254px;
  height: 49px;
  color: #2D3138;
  background-color: #F3C218;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;

  @include hover {
    background-color: #F9D334;
    color: #000;
  }

  @include media-exsm {
    margin: 40px auto;
  }
}


.bye-cripto__img {
  display: none;

  @include media-exsm {
    display: block;
    width: 100%;
  }
}
