.bye-cripto {
  background-image: url(../img/bye.png);
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  padding-top: 50px;
}

.bye-cripto__heading {
  text-transform: uppercase;
  padding-bottom: 30px;
}

.bye-cripto__btn {
  @include active;
  margin-bottom: 288px;
  width: 254px;
  height: 49px;
  color: #2D3138;
  background-color: #F3C218;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;

  @include hover {
    background-color: #F9D334;
    color: #000;
  }
}
