.header {
  background-color: #00000063;
  color: #fff;
}

.header__wrap {
  padding: 16px 0 18px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;

  @include media-md {
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
  }
}

.header__list {
  padding-left: 50px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;

  @include media-max {
    font-size: 14px;
  }

  @include media-lg {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.header__link {
  @include hover {
    opacity: 0.7;
  }
}
