.how-get {
  background-color: #2D3138;
  text-align: center;
  color: #fff;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 100px;
  font-size: 14px;

  @include media-lg {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 60px;
  }
}

.how-get__heading {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 60px;

  @include media-lg {
    font-size: 24px;
    padding-bottom: 0;
  }
}

.how-get__wrapper {
  text-align: center;
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.how-get__text {
  padding-bottom: 20px;

  @include media-lg {
    display: none;
  }
}

.how-get__text-k {
  font-style: italic;
  padding-left: 20%;
  padding-right: 20%;

  @include media-lg {
    display: none;
  }
}

.how-get__btn {
  @include active;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 254px;
  height: 49px;
  color: #2D3138;
  background-color: #F3C218;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;

  @include hover {
    background-color: #F9D334;
    color: #000;
  }
}

.how-get__img-wrap {
  position: relative;
}

.how-get__img {
  width: 100%;
}


.img__arrow-wrap {
  position: fixed;
  bottom: 20px;
  right: 20px;

  @include media-exsm {
    bottom: 20px;
    right: 25px;
  }
}
