.main__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 170px;
}

.main__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;
  width: 100%;

  @include media-exsm {
    flex-direction: column;
    padding-bottom: 20px;
  }
}

.main__form-wrap {
  flex-grow: 1;
  max-width: 402px;

  @include media-exsm {
  width: 100%;
  margin: auto;
  }
}

.main__bottom-text {
  padding-bottom: 100px;
}

.main__heading-wrap {
  text-align: center;
  margin-bottom: 80px;

  @include media-exsm {
    margin-bottom: 20px;
  }
}

.main__heading {
  color: #2d344e;
  font-size: 35px;
  font-weight: 900;
}

.main__text {
  text-transform: uppercase;
  color: #fff;
  font-size: 49px;
  font-weight: 700;

  @include media-exsm {
    font-size: 16px;
  }
}

.main__text-yellow {
color: #F3C218;
}
